<p id="notice"><%= notice %></p>

<h1>Listing Entities</h1>

<%= form_tag entities_path, :method => 'get', :id => 'entities_search' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Search', :name => nil %>
    </p>
    <div id="entities">
      <%= render('entities') %>
    </div>
<% end %>


<br>

<%= link_to 'New Entity', new_entity_path %>
